<!DOCTYPE html>
<title>Kysymys&Vastaus - foorumi</title>
<link rel="stylesheet" href="style.css">
<div class="upper_panel">
	<h1>Kysymys&Vastaus</h1>
</div>
{% if session.usertype ==  'admin' or session.usertype == 'moderator' %}
<div class="middle_panel">
	{% if session.username %}
	<p>Olet kirjautunut nimellä <b>{{ session.username }}</b></p>
	<p>Käyttäjätunnuksesi tyyppi: <b>{{ session.usertype }}</b></p>
	<a href="/logout">Kirjaudu ulos</a>
	{% else %}
	<p>kirjautumisloamke</p>
	<form action="/login" method="POST">
	<p>tunnus:
	<input type="text" name="username">
	salasana:
	<input type="password" name="password">
	<input type="submit" value="Kirjaudu">
	<a href="/register">rekisteröidy</a></p>
	</form>
	{% endif %}
	
	<p><a href="/">etusivulle</a></p>
	
</div>

<div class="content_area">
	<h2>poista viestejä</h2>
	<p><b>valitse aihe:</b></p>
	
	<hr>
	<div class="info_text">Tämä on opintoihini liittyvä harjoitustyö.</div>
</div>
</div>
{% else %}
<p>Sinulle ei ole oikeuksia tälle sivulle!</p>
{% endif %}
</html>
